<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1 class="text-center">Ajouter un produit</h1>

        <%= simple_form_for @product do |f| %>
          <%= f.input :name, placeholder: "Kudoz", label: "Nom du produit?" %>
          <%= f.input :url, placeholder: "http://getkudoz.com", label: "URL du produit?" %>
          <%= f.button :submit, "Ajouter un produit", class: "btn btn-primary" %>
        <% end %>

    </div>
  </div>
</div>
